@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<section id="about">
    <h2>@Model.Name @Model.Surname</h2>
    <p>@Model.Description</p>
    <p>@Model.Address - @Model.Phone - @Model.Mail</p>
    <img src="@Model.Image" alt="Hakkında Resmi" />
</section>
