@using Model.ViewModels
@model AuthenticationViewModel

<div class="container-fluid">
    <h2>Eğitim Listesi</h2>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>Alt Başlık</th>
            <th>Alt Başlık 2</th>
            <th>GNO</th>
            <th>Tarih</th>
            <th>İşlemler</th>
        </tr>
        @foreach (var item in ViewBag.Educations)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.SubTitle</td>
                <td>@item.Subtitle2</td>
                <td>@item.Gno</td>
                <td>@item.Date</td>
                <td>
                    <a href="/Admin/Admin/EditEducation/@item.Id" class="btn btn-warning">Düzenle</a>
                    <a href="/Admin/Admin/DeleteEducation/@item.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </table>
    <a href="/Admin/Admin/AddEducation" class="btn btn-primary">Yeni Eğitim Ekle</a>
</div>
